{% extends "base.html" %}

{%block content%}


{%if form.errors%}

	<div class="center" >
		<br>
		<img   width="200" height="200" src="/media/files/error.png">
		<p class="flow-text center" > Tu usuario y contraseña no coinciden, regresa <a href="{%url 'login'%}">Aquí</p>
	</div>
{%else%}

 <main>
    <center>
    
      <div class="section"></div>

      <h5 class="green-text">Por favor, inicia sesion con tu cuenta proporcionada por el equipo de RICO</h5>
      <div class="section"></div>

      <div class="container">
        <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
          <form class="col s12" method="post">
            <div class='row'>
              <div class='col s12'>
              </div>
            </div>
			{%csrf_token%}
				{{form.as_p}}
            <center>
              <div class='row'>
			<input type="hidden" name="next" value="{{next}}">
			<input class="waves-effect waves-light btn" type="submit" value="Iniciar Sesion">
              </div>
            </center>
          </form>
        </div>
      </div>
    </center>
    <div class="section"></div>
    <div class="section"></div>
  </main>
{%endif%}

{%endblock content%}



